<nav class="tab-bar">

    <button
        class="tab-button active"
        data-page="vehicle"
        type="button"
        aria-label="Vehicle"
    >
        <span class="temporary-icon">
            ◇
        </span>
    </button>


    <button
        class="tab-button"
        data-page="trips"
        type="button"
        aria-label="Trips"
    >
        <span class="temporary-icon">
            ⤴
        </span>
    </button>


    <button
        class="tab-button"
        data-page="location"
        type="button"
        aria-label="Location"
    >
        <span class="temporary-icon">
            ●
        </span>
    </button>


    <button
        class="tab-button"
        data-page="settings"
        type="button"
        aria-label="Settings"
    >
        <span class="temporary-icon">
            ⚙
        </span>
    </button>

</nav>